<%- include("partials/header.ejs") %>

<div class="card-details">
    <div>
        <img src="<%= card.images.large %>" class="card-large"alt="<%= card.name %>">
    </div>
    <div class="details-container">
        <div>
            <section  class="name-flavor-section">
                <h1><%= card.name %></h1>
                <p><%=card.flavorText%></p>
            </section>
            
            <div class="all-info">
            <section class="information">
                <div>
                <hr class="up">
                </div>
                <div>
                <h1>Card Information</h1>
                <p><b>Set:</b> <%= card.set.name %></p>
                <p><b>Number:</b> <%= card.number %></p>
                <p><b>Rarity:</b> <%= card.rarity %></p>
                <p><b>Artist:</b> <%= card.artist %></p>
                <p><b>Release Date:</b> <%= card.set.releaseDate %></p>
                </div>
            </section>
            <section class="information">
                <div>
                <hr class="up">
                </div>
                <div>
                <h1>Stats</h1>
                <p><b>Hp:</b> <%= card.hp %></p>
                <p><b>Type:</b> <%= card.types %></p>
                <p><b>Evolves from:</b> <%= card.evolvesFrom || "N/A"%></p>
                <p><b>Evolves to: </b> <%= card.evolvesTo || "N/A"%></p>
                <!-- <p><b>Weaknesses: </b></p> -->
                </div>
            </section>
            <section class="information">
                <div>
                <hr class="up">
                </div>
                <div>
                    <h1>Prices</h1>
                    <p><b>(Market) Normal:</b> <b id="money">$<%= card?.tcgplayer?.prices?.normal?.market || "N/A" %></b>
                    <p><b>(Market) Holofoil:</b> <b id="money">$<%= card?.tcgplayer?.prices?.holofoil?.market || "N/A"%></b>
                    <p><b>(Market) Reverse Holofoil:</b> <b id="money">$<%= card?.tcgplayer?.prices?.reverseHolofoil?.market || "N/A"%></b>
                    <p><b>AVG price:</b> <b id="money"> $<%=card?.cardmarket?.prices?.averageSellPrice || "N/A"%></b></p>
                </div>
    
                    
            </section>
            </div>
            
                    <h1 class="h1-info">Abilities</h1>
                    <% if (card?.abilities && card.abilities.length > 0) { %>
                        <% card.abilities.forEach(ability => { %>
                            <p><b>Name:</b> <%= ability.name %></p>
                            <p><b>Description:</b> <%= ability.text %></p>
                            <p><b>Type:</b> <%= ability.type %></p>
                        <% }); %>
                    <% } else { %>
                      <p>No abilities available for this card.</p>
                    <% } %>
                    <hr>
                    <h1 class="h1-info">Attacks</h1>
                    <% if (card?.attacks && card.attacks.length > 0) { %>
                        <% card.attacks.forEach(attack => { %>
                            <div class="attacks">
                                <h3> <%= attack.name %></h3>
                                <p><b></b> <%= attack.text %></p>
                                <p><b>Damage:</b> <%= attack.damage || "N/A"%></p>
                            </div>
                        <% }); %>
                    <% } else { %>
                      <p>No abilities available for this card.</p>
                    <% } %>
        </div>
    </div>
  </div>
<% console.log(card.abilities) %>
<% console.log(card.attacks) %> 
<% console.log(card.weaknesses) %>
<% console.log(card.resistances) %>
<% console.log(card.retreatCost) %>
<% console.log(card.tcgplayer.prices) %>
<% console.log(card.cardmarket.prices) %>

<%- include("partials/footer.ejs") %>