<%- include("partials/header.ejs") %>

<div class="card-details">
    <img src="<%= card.images.large %>" alt="<%= card.name %>">
    <h1><%= card.name %></h1>
    <p><b>Number:</b> <%= card.number %></p>
    <p><b>Rarity:</b> <%= card.rarity %></p>
    <p><b>HP:</b> <%= card.hp %></p>
    <p><b>Set:</b> <%= card.set.name %></p>
    <p><b>Artist:</b> <%= card.artist %></p>
    <p><b>Price:</b> $<%= card.cardmarket?.prices?.averageSellPrice || "N/A" %></p>
  </div>


<%- include("partials/footer.ejs") %>