<%- include("partials/header.ejs") %>
<div id="search">
  <form action="/submit" method="post">
    <input type="text" id="pokemonName" name="pokemonName" placeholder="Search for Pokémon" autocomplete="off" required>
    <div id="suggestions"></div>
    <button type="submit">Search</button>
  </form>
</div>

<% if (locals.cards) { %>
  
    <div class="main-card-container">
      <% cards.forEach(card => { %>
        <div class="card-container">
        <img src= "<%= card.image %>">
        <div class="card-info">
          <p><b>Name:</b> <%= card.name %></p>
          <p><b>Number: </b> <%= card.number %> </p>
          <p><b>Rarity:</b> <%= card.rarity %></p>
          <p><b>HP:</b> <%= card.hp %></p>
          <!-- <p>Type: <%= card.type %></p> -->
          <p><b>Set:</b> <%= card.set %></p>
          <p><b>Artist:</b> <%= card.artist %></p>
          <p><b>AVG Price: </b><%= card.cardmarketPrice %></p>
        </div>
        </div>
      <% }) %>
    </div>
  </div>
<% } %>
<%- include("partials/footer.ejs") %>

<script>
let debounceTimeout;

document.getElementById('pokemonName').addEventListener('input', function() {
  clearTimeout(debounceTimeout);
  const query = this.value.trim();

  if (query.length > 0) {
    debounceTimeout = setTimeout(async function() {
      try {
        const response = await fetch(`/autocomplete?q=${encodeURIComponent(query)}`);
        
        if (!response.ok) {
          throw new Error(`HTTP error! Status: ${response.status}`);
        }
        
        const suggestions = await response.json();
        updateSuggestions(suggestions);
      } catch (error) {
        console.error('Error fetching suggestions:', error);
        updateSuggestions([]); 
      }
    }, 150); // Adjust debounce delay for faster response
  } else {
    updateSuggestions([]);
  }
});

function updateSuggestions(suggestions) {
  const suggestionsDiv = document.getElementById('suggestions');
  suggestionsDiv.innerHTML = '';

  if (suggestions.length > 0) {
    suggestions.forEach(suggestion => {
      const div = document.createElement('div');
      div.textContent = suggestion;
      div.classList.add('suggestion-item');
      div.addEventListener('click', function() {
        document.getElementById('pokemonName').value = suggestion;
        updateSuggestions([]); 
      });
      suggestionsDiv.appendChild(div);
    });
    suggestionsDiv.style.display = 'block';
  } else {
    suggestionsDiv.style.display = 'none';
  }
}

  // Hide suggestions if clicking outside
  document.addEventListener('click', function(event) {
    const suggestionsDiv = document.getElementById('suggestions');
    if (!document.getElementById('pokemonName').contains(event.target)) {
      suggestionsDiv.style.display = 'none';
    }
  });
</script>
