<%- include("partials/header.ejs") %>
<div id="search">
  <form action="/submit" method="post">
    <input type="text" name="pokemonName" placeholder="Search for Pokémon" required>
    <button type="submit">Search</button>
  </form>
</div>

<% if (locals.cards) { %>
  
    <div class="main-card-container">
      <% cards.forEach(card => { %>
        <div class="card-container">
        <img src= "<%= card.image %>">
        <div class="card-info">
          <p><b>Name:</b> <%= card.name %></p>
          <p><b>Number: </b> <%= card.number %> </p>
          <p><b>Rarity:</b> <%= card.rarity %></p>
          <p><b>HP:</b> <%= card.hp %></p>
          <!-- <p>Type: <%= card.type %></p> -->
          <p><b>Set:</b> <%= card.set %></p>
          <p><b>Artist:</b> <%= card.artist %></p>
        </div>
        </div>
      <% }) %>
    </div>
  </div>
<% } %>
<%- include("partials/footer.ejs") %>
